#
# miaochuang8lou device configuration
#


config MC_SPI_SUPPORT
	bool "mc8l spi support"
	default n
	---help---
	  Enable support for webcams and video grabbers.

	  Say Y when you have a webcam or a video capture grabber board.



